In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_parquet('/content/drive/MyDrive/Structured_Data_Assignment/train.parquet')

In [9]:
df = df.reset_index(drop=True)

In [10]:
df

                                  Patient-Uid       Date           Incident
0        a0db1e73-1c7c-11ec-ae39-16262ee38c7f 2019-03-09  PRIMARY_DIAGNOSIS
1        a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2015-05-16  PRIMARY_DIAGNOSIS
2        a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2018-01-30     SYMPTOM_TYPE_0
3        a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2015-04-22        DRUG_TYPE_0
4        a0dc9543-1c7c-11ec-bb63-16262ee38c7f 2016-06-18        DRUG_TYPE_1
...                                       ...        ...                ...
3220863  a0ee9f75-1c7c-11ec-94c7-16262ee38c7f 2018-07-06        DRUG_TYPE_6
3220864  a0ee1284-1c7c-11ec-a3d5-16262ee38c7f 2017-12-29        DRUG_TYPE_6
3220865  a0ee9b26-1c7c-11ec-8a40-16262ee38c7f 2018-10-18       DRUG_TYPE_10
3220866  a0ee1a92-1c7c-11ec-8341-16262ee38c7f 2015-09-18        DRUG_TYPE_6
3220867  a0ee146e-1c7c-11ec-baee-16262ee38c7f 2018-10-05        DRUG_TYPE_1

[3220868 rows x 3 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220868 entries, 0 to 3220867
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   Patient-Uid  object
 1   Date         datetime64[ns]
 2   Incident     object
dtypes: datetime64[ns](1), object(2)
memory usage: 73.7+ MB

In [12]:
pat_took_td = df['Patient-Uid'][df['Incident'] == 'TARGET DRUG'].unique()
pat_took_td

array(['a0eb742b-1c7c-11ec-8f61-16262ee38c7f',
       'a0edaf09-1c7c-11ec-a360-16262ee38c7f',
       'a0e9fa0e-1c7c-11ec-8dc7-16262ee38c7f', ...,
       'a0ef1c8c-1c7c-11ec-b007-16262ee38c7f',
       'a0f08a4d-1c7c-11ec-bb15-16262ee38c7f',
       'a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f'], dtype=object)

In [13]:
df_pat_took_td = df[df['Patient-Uid'].isin(pat_took_td)].reset_index(drop=True)
df_pat_took_td

                                  Patient-Uid       Date           Incident
0        a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2018-02-22     SYMPTOM_TYPE_6
1        a0e9c3b3-1c7c-11ec-ae8e-16262ee38c7f 2018-02-21     SYMPTOM_TYPE_6
2        a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f 2017-05-11    SYMPTOM_TYPE_10
3        a0e9c414-1c7c-11ec-889a-16262ee38c7f 2019-11-22  PRIMARY_DIAGNOSIS
4        a0e9c443-1c7c-11ec-9eb0-16262ee38c7f 2020-01-28  PRIMARY_DIAGNOSIS
...                                       ...        ...                ...
1436784  a0ee9f75-1c7c-11ec-94c7-16262ee38c7f 2018-07-06        DRUG_TYPE_6
1436785  a0ee1284-1c7c-11ec-a3d5-16262ee38c7f 2017-12-29        DRUG_TYPE_6
1436786  a0ee9b26-1c7c-11ec-8a40-16262ee38c7f 2018-10-18       DRUG_TYPE_10
1436787  a0ee1a92-1c7c-11ec-8341-16262ee38c7f 2015-09-18        DRUG_TYPE_6
1436788  a0ee146e-1c7c-11ec-baee-16262ee38c7f 2018-10-05        DRUG_TYPE_1

[1436789 rows x 3 columns]

In [14]:
df_pat_took_td.sort_values(['Patient-Uid', 'Date']).reset_index(drop=True)

                                  Patient-Uid       Date     Incident
0        a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2015-04-14  DRUG_TYPE_7
1        a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2015-09-07  TEST_TYPE_0
2        a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2015-09-07  DRUG_TYPE_0
3        a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2015-09-07  DRUG_TYPE_8
4        a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2015-09-07  DRUG_TYPE_7
...                                       ...        ...          ...
1436784  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-06-19  DRUG_TYPE_6
1436785  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-07-09  TARGET DRUG
1436786  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-07-10  DRUG_TYPE_1
1436787  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-08-05  TARGET DRUG
1436788  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-08-08  DRUG_TYPE_5

[1436789 rows x 3 columns]

In [15]:
# DataFrame with Incident column contains only 'TARGET DRUG'
df_pat_took_td_only = df_pat_took_td[df_pat_took_td['Incident']=='TARGET DRUG'].reset_index(drop=True)
df_pat_took_td_only

                                Patient-Uid       Date     Incident
0      a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2020-04-09  TARGET DRUG
1      a0edaf09-1c7c-11ec-a360-16262ee38c7f 2018-06-12  TARGET DRUG
2      a0e9fa0e-1c7c-11ec-8dc7-16262ee38c7f 2019-06-11  TARGET DRUG
3      a0ecc615-1c7c-11ec-aa31-16262ee38c7f 2019-11-15  TARGET DRUG
4      a0ea612f-1c7c-11ec-8cf0-16262ee38c7f 2020-03-18  TARGET DRUG
...                                     ...        ...          ...
67213  a0ef2b6d-1c7c-11ec-9172-16262ee38c7f 2018-10-12  TARGET DRUG
67214  a0ebe423-1c7c-11ec-a5e0-16262ee38c7f 2019-07-02  TARGET DRUG
67215  a0ebc713-1c7c-11ec-bd53-16262ee38c7f 2019-05-21  TARGET DRUG
67216  a0ee1bdb-1c7c-11ec-90ba-16262ee38c7f 2018-06-07  TARGET DRUG
67217  a0eef180-1c7c-11ec-8de8-16262ee38c7f 2018-07-17  TARGET DRUG

[67218 rows x 3 columns]

In [16]:
# Data Frame with first occurence of 'TARGET DRUG' in each Patient-Uid
fir_dt_td = df_pat_took_td_only.groupby(['Patient-Uid'])['Date'].min().reset_index()
fir_dt_td

                               Patient-Uid       Date
0     a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2020-07-08
1     a0e9c3b3-1c7c-11ec-ae8e-16262ee38c7f 2018-04-24
2     a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f 2019-10-31
3     a0e9c414-1c7c-11ec-889a-16262ee38c7f 2018-04-05
4     a0e9c443-1c7c-11ec-9eb0-16262ee38c7f 2019-09-10
...                                    ...        ...
9369  a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f 2020-06-16
9370  a0f0d4f4-1c7c-11ec-b144-16262ee38c7f 2020-07-18
9371  a0f0d523-1c7c-11ec-89d2-16262ee38c7f 2020-05-21
9372  a0f0d553-1c7c-11ec-a70a-16262ee38c7f 2020-07-21
9373  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-06-18

[9374 rows x 2 columns]

In [17]:
# Data Frame with last occurence of 'TARGET DRUG' in each Patient-Uid
last_dt_td = df_pat_took_td_only.groupby(['Patient-Uid'])['Date'].max().reset_index()
last_dt_td

                               Patient-Uid       Date
0     a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2020-09-02
1     a0e9c3b3-1c7c-11ec-ae8e-16262ee38c7f 2019-10-29
2     a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f 2020-05-26
3     a0e9c414-1c7c-11ec-889a-16262ee38c7f 2019-11-22
4     a0e9c443-1c7c-11ec-9eb0-16262ee38c7f 2020-07-14
...                                    ...        ...
9369  a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f 2020-08-05
9370  a0f0d4f4-1c7c-11ec-b144-16262ee38c7f 2020-07-18
9371  a0f0d523-1c7c-11ec-89d2-16262ee38c7f 2020-08-11
9372  a0f0d553-1c7c-11ec-a70a-16262ee38c7f 2020-07-21
9373  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-08-05

[9374 rows x 2 columns]

In [18]:
# Dataframe containing both first and last dates of 'TARGET DRUG' in each Patient-Uid
df_td_lfd = fir_dt_td[['Patient-Uid', 'Date']]

In [19]:
df_td_lfd.rename(columns = {'Date':'First_Date'}, inplace=True)

In [20]:
df_td_lfd['Last_Date'] = last_dt_td['Date'].values

In [21]:
df_td_lfd

                               Patient-Uid First_Date  Last_Date
0     a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2020-07-08 2020-09-02
1     a0e9c3b3-1c7c-11ec-ae8e-16262ee38c7f 2018-04-24 2019-10-29
2     a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f 2019-10-31 2020-05-26
3     a0e9c414-1c7c-11ec-889a-16262ee38c7f 2018-04-05 2019-11-22
4     a0e9c443-1c7c-11ec-9eb0-16262ee38c7f 2019-09-10 2020-07-14
...                                    ...        ...        ...
9369  a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f 2020-06-16 2020-08-05
9370  a0f0d4f4-1c7c-11ec-b144-16262ee38c7f 2020-07-18 2020-07-18
9371  a0f0d523-1c7c-11ec-89d2-16262ee38c7f 2020-05-21 2020-08-11
9372  a0f0d553-1c7c-11ec-a70a-16262ee38c7f 2020-07-21 2020-07-21
9373  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-06-18 2020-08-05

[9374 rows x 3 columns]

In [22]:
# DataFrame containing difference between first and last date
df_td_lfd['Diff_bet_date'] = df_td_lfd['Last_Date'].sub(df_td_lfd['First_Date'], axis = 0)
df_td_lfd

                               Patient-Uid First_Date  Last_Date Diff_bet_date
0     a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2020-07-08 2020-09-02       56 days
1     a0e9c3b3-1c7c-11ec-ae8e-16262ee38c7f 2018-04-24 2019-10-29      553 days
2     a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f 2019-10-31 2020-05-26      208 days
3     a0e9c414-1c7c-11ec-889a-16262ee38c7f 2018-04-05 2019-11-22      596 days
4     a0e9c443-1c7c-11ec-9eb0-16262ee38c7f 2019-09-10 2020-07-14      308 days
...                                    ...        ...        ...           ...
9369  a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f 2020-06-16 2020-08-05       50 days
9370  a0f0d4f4-1c7c-11ec-b144-16262ee38c7f 2020-07-18 2020-07-18        0 days
9371  a0f0d523-1c7c-11ec-89d2-16262ee38c7f 2020-05-21 2020-08-11       82 days
9372  a0f0d553-1c7c-11ec-a70a-16262ee38c7f 2020-07-21 2020-07-21        0 days
9373  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-06-18 2020-08-05       48 days

[9374 rows x 4 columns]

In [23]:
df_td_lfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9374 entries, 0 to 9373
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Patient-Uid    9374 non-null   object
 1   First_Date     9374 non-null   datetime64[ns]
 2   Last_Date      9374 non-null   datetime64[ns]
 3   Diff_bet_date  9374 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), object(1), timedelta64[ns](1)
memory usage: 293.1+ KB

In [24]:
df_td_lfd['Diff_bet_date'] = df_td_lfd['Diff_bet_date'].dt.days

In [25]:
df_td_lfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9374 entries, 0 to 9373
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Patient-Uid    9374 non-null   object
 1   First_Date     9374 non-null   datetime64[ns]
 2   Last_Date      9374 non-null   datetime64[ns]
 3   Diff_bet_date  9374 non-null   int64
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 293.1+ KB

In [26]:
df_td_lfd

,Patient-Uid,First_Date,Last_Date,Diff_bet_date
0,a0e9c384-1c7c-11ec-81a0-16262ee38c7f,2020-07-08,2020-09-02,56
1,a0e9c3b3-1c7c-11ec-ae8e-16262ee38c7f,2018-04-24,2019-10-29,553
2,a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f,2019-10-31,2020-05-26,208
3,a0e9c414-1c7c-11ec-889a-16262ee38c7f,2018-04-05,2019-11-22,596
4,a0e9c443-1c7c-11ec-9eb0-16262ee38c7f,2019-09-10,2020-07-14,308
...,...,...,...,...
9369,a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f,2020-06-16,2020-08-05,50
9370,a0f0d4f4-1c7c-11ec-b144-16262ee38c7f,2020-07-18,2020-07-18,0
9371,a0f0d523-1c7c-11ec-89d2-16262ee38c7f,2020-05-21,2020-08-11,82
9372,a0f0d553-1c7c-11ec-a70a-16262ee38c7f,2020-07-21,2020-07-21,0
9373,a0f0d582-1c7c-11ec-a6c1-16262ee38c7f,2020-06-18,2020-08-05,48

In [27]:
# Taking only the data with Patient-Uid with drop-off (Diff_bet_date < 365)
df_td_ldf_lt365 = df_td_lfd[df_td_lfd['Diff_bet_date'] < 366]

In [28]:
df_td_ldf_lt365.reset_index(drop=True)

,Patient-Uid,First_Date,Last_Date,Diff_bet_date
0,a0e9c384-1c7c-11ec-81a0-16262ee38c7f,2020-07-08,2020-09-02,56
1,a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f,2019-10-31,2020-05-26,208
2,a0e9c443-1c7c-11ec-9eb0-16262ee38c7f,2019-09-10,2020-07-14,308
3,a0e9c4a3-1c7c-11ec-aa86-16262ee38c7f,2020-02-07,2020-05-01,84
4,a0e9c502-1c7c-11ec-89d3-16262ee38c7f,2020-02-04,2020-08-06,184
...,...,...,...,...
5792,a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f,2020-06-16,2020-08-05,50
5793,a0f0d4f4-1c7c-11ec-b144-16262ee38c7f,2020-07-18,2020-07-18,0
5794,a0f0d523-1c7c-11ec-89d2-16262ee38c7f,2020-05-21,2020-08-11,82
5795,a0f0d553-1c7c-11ec-a70a-16262ee38c7f,2020-07-21,2020-07-21,0
5796,a0f0d582-1c7c-11ec-a6c1-16262ee38c7f,2020-06-18,2020-08-05,48

In [29]:
# List with all the dropped off patients
l_drof_pat = df_td_ldf_lt365['Patient-Uid'].values
l_drof_pat

array(['a0e9c384-1c7c-11ec-81a0-16262ee38c7f',
       'a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f',
       'a0e9c443-1c7c-11ec-9eb0-16262ee38c7f', ...,
       'a0f0d523-1c7c-11ec-89d2-16262ee38c7f',
       'a0f0d553-1c7c-11ec-a70a-16262ee38c7f',
       'a0f0d582-1c7c-11ec-a6c1-16262ee38c7f'], dtype=object)

In [30]:
len(l_drof_pat)

5797

In [31]:
# DataFrame with Dropped Off Patients
drof_df = df_pat_took_td[df_pat_took_td['Patient-Uid'].isin(l_drof_pat)].reset_index(drop=True)

In [32]:
# DataFrame with last row of each 'Patient-Uid'
last_dt_df = drof_df.groupby(['Patient-Uid'])['Date'].max().reset_index()
last_dt_df

                               Patient-Uid       Date
0     a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2020-09-02
1     a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f 2020-08-14
2     a0e9c443-1c7c-11ec-9eb0-16262ee38c7f 2020-09-03
3     a0e9c4a3-1c7c-11ec-aa86-16262ee38c7f 2020-09-02
4     a0e9c502-1c7c-11ec-89d3-16262ee38c7f 2020-08-12
...                                    ...        ...
5792  a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f 2020-08-30
5793  a0f0d4f4-1c7c-11ec-b144-16262ee38c7f 2020-08-10
5794  a0f0d523-1c7c-11ec-89d2-16262ee38c7f 2020-08-11
5795  a0f0d553-1c7c-11ec-a70a-16262ee38c7f 2020-07-21
5796  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-08-08

[5797 rows x 2 columns]

In [33]:
# Patient with only 'TARGET DRUG' DataFrame with Droppe off patients
td_drop_df = df_pat_took_td_only[df_pat_took_td_only['Patient-Uid'].isin(l_drof_pat)].reset_index(drop=True)
# DataFrame with rows of each 'Patient-Uid' who took 'TARGET DRUG for the first time'
first_dt_td_df = td_drop_df.groupby(['Patient-Uid'])['Date'].min().reset_index()
first_dt_td_df

                               Patient-Uid       Date
0     a0e9c384-1c7c-11ec-81a0-16262ee38c7f 2020-07-08
1     a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f 2019-10-31
2     a0e9c443-1c7c-11ec-9eb0-16262ee38c7f 2019-09-10
3     a0e9c4a3-1c7c-11ec-aa86-16262ee38c7f 2020-02-07
4     a0e9c502-1c7c-11ec-89d3-16262ee38c7f 2020-02-04
...                                    ...        ...
5792  a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f 2020-06-16
5793  a0f0d4f4-1c7c-11ec-b144-16262ee38c7f 2020-07-18
5794  a0f0d523-1c7c-11ec-89d2-16262ee38c7f 2020-05-21
5795  a0f0d553-1c7c-11ec-a70a-16262ee38c7f 2020-07-21
5796  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f 2020-06-18

[5797 rows x 2 columns]

In [34]:
# DataFrame Containing both last date of each 'Patient-Uid' w.r.t 'Date' (and) date of each 'Patient-Uid'
# who took 'TARGET DRUG' for the first time from assumed drop-off list.
tgfd_dffd = first_dt_td_df[['Patient-Uid', 'Date']]
tgfd_dffd.rename(columns = {'Date':'First_Date_td'}, inplace=True)
tgfd_dffd['Last_Date_df'] = last_dt_df['Date'].values

In [35]:
tgfd_dffd

                               Patient-Uid First_Date_td Last_Date_df
0     a0e9c384-1c7c-11ec-81a0-16262ee38c7f    2020-07-08   2020-09-02
1     a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f    2019-10-31   2020-08-14
2     a0e9c443-1c7c-11ec-9eb0-16262ee38c7f    2019-09-10   2020-09-03
3     a0e9c4a3-1c7c-11ec-aa86-16262ee38c7f    2020-02-07   2020-09-02
4     a0e9c502-1c7c-11ec-89d3-16262ee38c7f    2020-02-04   2020-08-12
...                                    ...           ...          ...
5792  a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f    2020-06-16   2020-08-30
5793  a0f0d4f4-1c7c-11ec-b144-16262ee38c7f    2020-07-18   2020-08-10
5794  a0f0d523-1c7c-11ec-89d2-16262ee38c7f    2020-05-21   2020-08-11
5795  a0f0d553-1c7c-11ec-a70a-16262ee38c7f    2020-07-21   2020-07-21
5796  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f    2020-06-18   2020-08-08

[5797 rows x 3 columns]

In [36]:
# DataFrame containing difference between first date of 'TARGET DRUG' and last date of data for each 'Patient-Uid'
tgfd_dffd['Diff_bet_date'] = tgfd_dffd['Last_Date_df'].sub(tgfd_dffd['First_Date_td'], axis = 0)

In [37]:
tgfd_dffd['Diff_bet_date'] = tgfd_dffd['Diff_bet_date'].dt.days

In [38]:
tgfd_dffd

,Patient-Uid,First_Date_td,Last_Date_df,Diff_bet_date
0,a0e9c384-1c7c-11ec-81a0-16262ee38c7f,2020-07-08,2020-09-02,56
1,a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f,2019-10-31,2020-08-14,288
2,a0e9c443-1c7c-11ec-9eb0-16262ee38c7f,2019-09-10,2020-09-03,359
3,a0e9c4a3-1c7c-11ec-aa86-16262ee38c7f,2020-02-07,2020-09-02,208
4,a0e9c502-1c7c-11ec-89d3-16262ee38c7f,2020-02-04,2020-08-12,190
...,...,...,...,...
5792,a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f,2020-06-16,2020-08-30,75
5793,a0f0d4f4-1c7c-11ec-b144-16262ee38c7f,2020-07-18,2020-08-10,23
5794,a0f0d523-1c7c-11ec-89d2-16262ee38c7f,2020-05-21,2020-08-11,82
5795,a0f0d553-1c7c-11ec-a70a-16262ee38c7f,2020-07-21,2020-07-21,0
5796,a0f0d582-1c7c-11ec-a6c1-16262ee38c7f,2020-06-18,2020-08-08,51

In [39]:
# Taking only the data with Patient-Uid with drop-off (Diff_bet_date < 365)
tgfd_dffd_lt365 = tgfd_dffd[tgfd_dffd['Diff_bet_date'] < 366]

In [40]:
tgfd_dffd_lt365.reset_index(drop=True)

,Patient-Uid,First_Date_td,Last_Date_df,Diff_bet_date
0,a0e9c384-1c7c-11ec-81a0-16262ee38c7f,2020-07-08,2020-09-02,56
1,a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f,2019-10-31,2020-08-14,288
2,a0e9c443-1c7c-11ec-9eb0-16262ee38c7f,2019-09-10,2020-09-03,359
3,a0e9c4a3-1c7c-11ec-aa86-16262ee38c7f,2020-02-07,2020-09-02,208
4,a0e9c502-1c7c-11ec-89d3-16262ee38c7f,2020-02-04,2020-08-12,190
...,...,...,...,...
3251,a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f,2020-06-16,2020-08-30,75
3252,a0f0d4f4-1c7c-11ec-b144-16262ee38c7f,2020-07-18,2020-08-10,23
3253,a0f0d523-1c7c-11ec-89d2-16262ee38c7f,2020-05-21,2020-08-11,82
3254,a0f0d553-1c7c-11ec-a70a-16262ee38c7f,2020-07-21,2020-07-21,0
3255,a0f0d582-1c7c-11ec-a6c1-16262ee38c7f,2020-06-18,2020-08-08,51

In [41]:
# List with all the dropped off patients
l_non_drof_pat = tgfd_dffd_lt365['Patient-Uid'].values

In [42]:
l_dropoff_patients = [i for i in l_drof_pat if i not in l_non_drof_pat]

In [43]:
len(l_dropoff_patients)

2541

In [44]:
df_dropoff_patients = df_pat_took_td[df_pat_took_td['Patient-Uid'].isin(l_dropoff_patients)].reset_index(drop=True)
df_dropoff_patients

                                 Patient-Uid       Date           Incident
0       a0e9c561-1c7c-11ec-ac1a-16262ee38c7f 2016-12-23     SYMPTOM_TYPE_6
1       a0e9c561-1c7c-11ec-ac1a-16262ee38c7f 2017-02-19     SYMPTOM_TYPE_6
2       a0e9c61f-1c7c-11ec-a87d-16262ee38c7f 2019-09-20  PRIMARY_DIAGNOSIS
3       a0e9c64e-1c7c-11ec-b73b-16262ee38c7f 2016-06-07     SYMPTOM_TYPE_0
4       a0e9c751-1c7c-11ec-b708-16262ee38c7f 2019-05-22  PRIMARY_DIAGNOSIS
...                                      ...        ...                ...
405626  a0ebf146-1c7c-11ec-bac5-16262ee38c7f 2017-01-13        DRUG_TYPE_2
405627  a0ebbf22-1c7c-11ec-b02c-16262ee38c7f 2015-09-24        DRUG_TYPE_7
405628  a0ee1791-1c7c-11ec-b352-16262ee38c7f 2015-06-16        DRUG_TYPE_3
405629  a0ee1b1f-1c7c-11ec-9123-16262ee38c7f 2016-02-05        DRUG_TYPE_0
405630  a0ee9f75-1c7c-11ec-94c7-16262ee38c7f 2018-07-06        DRUG_TYPE_6

[405631 rows x 3 columns]

In [45]:
total_months = (df['Date'].max() - df['Date'].min())/np.timedelta64(1, 'M')
total_months

64.92125094971149

In [46]:
# Taking only the 'TARGET DRUG' of Incident for the dropped off patients and sorting it by id and date
td_of_drof_pat = df_pat_took_td_only[df_pat_took_td_only['Patient-Uid'].isin(l_dropoff_patients)].sort_values(['Patient-Uid', 'Date']).reset_index(drop=True)

In [47]:
# Selecting only the last date of 'TARGET DRUG' for the dropped off patients
df_dt_drof_pat = td_of_drof_pat.groupby(['Patient-Uid'])['Date'].max().reset_index()

In [48]:
# list of date of patients who dropped off
l_dt_drof_pat = df_dt_drof_pat['Date'].values

In [49]:
l_dt_drof_pat

array(['2019-05-10T00:00:00.000000000', '2019-11-08T00:00:00.000000000',
       '2018-09-28T00:00:00.000000000', ...,
       '2019-08-21T00:00:00.000000000', '2019-07-12T00:00:00.000000000',
       '2020-01-10T00:00:00.000000000'], dtype='datetime64[ns]')

In [50]:
l_m_drof_pat = ((l_dt_drof_pat - np.datetime64(df['Date'].min())).astype('timedelta64[M]')/np.timedelta64(1, 'M')).astype('int')
l_m_drof_pat

array([49, 55, 41, ..., 52, 51, 57])

In [51]:
l_c_m_drof_pat = np.bincount(l_m_drof_pat)
l_c_m_drof_pat

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,  56,  62,  61,  93,
        87,  95, 120, 108, 129, 127, 141, 157, 157, 132, 120,  99, 100,
       118,  96,  87,  52,  46,  60,  50,  33,  46,  26,  28,  43,  12])

In [52]:
sum(l_c_m_drof_pat)

2541

In [53]:
dropoff_rate = sum(l_c_m_drof_pat)/65
dropoff_rate

39.09230769230769